<div class="container">
    <hr />
    {% if site.profile_picture %}
        <div id="img-about">
            <img class="about-img pull-left" src="{{ site.profile_picture }}">
        </div>
        <div class="about-stub">
            <a class="different-highlight" href="about/">
                <h2 style="font-family: Montserrat">
                    {% if page.author %}
                        {{ page.author }}
                    {% else %}
                        {{ site.author }}
                    {% endif %}
                </h2>
            </a>
            <p id="about-description" style="margin-top: 4px;">
                {{ site.about_stub }}
            </p>
        </div>
    {% endif %}
</div>
<div style="clear:both"></div>
