{% if site.intro %}
    <div id="intro">
        <div class="container">
            {% if site.profile_picture %}
                <img id="intro-img" src="{{ site.profile_picture }}">
            {% endif %}
            <h2>
                {% if site.site_heading %}
                    {{ site.site_heading }}
                {% else %}
                    {{ site.title }}
                {% endif %}
            </h2>
            <p style="margin-top: 30px;">
                {{ site.short_bio }}
            </p>
        </div>
    </div>
{% else %}
    <section class="intro">
        <div class="container">
            <h2 class="site-name">
                {% if site.site_heading %}
                    {{ site.site_heading }}
                {% else %}
                    {{ site.title }}
                {% endif %}
            </h2>
        </div>
    </section>
{% endif %}
