{% if paginator.total_pages > 1 %}
<div class="pagination container" role="pagination">
    {% assign url = site.baseurl | append: "/" %}
    {% if paginator.previous_page %}
        {% if paginator.previous_page > 1 %}
            {% assign prev = 'page/' | append: paginator.previous_page %}
        {% endif %}
        <div class="alignable pull-left">
            <a class="button" href="{{ url | append: prev }}" title="articles new">&larr; Prev</a>
        </div>
    {% else %}
        <div><a href=""></a></div>
    {% endif %}
    <div style="text-align: center;">
        <span>Page {{paginator.page}} of {{paginator.total_pages}}</span>
    </div>
    {% if paginator.next_page %}
        <div class="alignable pull-right" style="text-align: right">
            <a class="button" href="{{ url | append: 'page/' | append: paginator.next_page }}" title="articles old">Next &rarr;</a>
        </div>
    {% else %}
        <div><a href=""></a></div>
    {% endif %}
</div>
{% endif %}
