{% if page.previous.url or page.next.url %}
    <div class="container page-suggestion">
        {% if page.next.url %}
            <a class="button alignable pull-left" href="{{ site.url }}{{ site.baseurl }}{{ page.next.url }}">
                &larr; {{ page.next.title | truncatewords: 4 }}
            </a>
        {% endif %}
        {% if page.previous.url %}
            <a class="button alignable pull-right" href="{{ site.url }}{{ site.baseurl }}{{ page.previous.url }}">
                {{ page.previous.title | truncatewords: 4}} &rarr;
            </a>
        {% endif %}
    </div>
    <div style="clear:both"></div>
{% endif %}
